*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Segoe UI;
}

body{
background:#eef3f9;
padding:30px;
}

.container{
max-width:1100px;
margin:auto;
}

header{
background:linear-gradient(135deg,#1f4e79,#3498db);
color:white;
text-align:center;
padding:20px;
border-radius:10px;
margin-bottom:20px;
}

.card{
background:white;
padding:20px;
border-radius:12px;
margin-bottom:20px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

.form-grid{
display:grid;
grid-template-columns:1fr 1fr;
gap:12px;
}

input, select{
padding:10px;
border:1px solid #ccc;
border-radius:6px;
}

#average{
background:#f1f1f1;
font-weight:bold;
}

.buttons{
margin-top:15px;
display:flex;
gap:10px;
}

button{
padding:10px;
border:none;
border-radius:6px;
color:white;
cursor:pointer;
transition:0.3s;
}

.add{background:#2ecc71;}
.add:hover{background:#27ae60;}

.clear{background:#7f8c8d;}
.clear:hover{background:#636e72;}

.edit{background:#f39c12;}
.delete{background:#e74c3c;}

.search-box{
margin-bottom:10px;
text-align:right;
}

.search-box input{
width:250px;
padding:8px;
border-radius:6px;
border:1px solid #ccc;
}

.records{
background:white;
padding:20px;
border-radius:12px;
box-shadow:0 4px 12px rgba(0,0,0,0.1);
}

table{
width:100%;
border-collapse:collapse;
margin-top:10px;
}

th{
background:#1f4e79;
color:white;
padding:10px;
}

td{
border:1px solid #ddd;
padding:8px;
text-align:center;
}

tr:hover{
background:#f9f9f9;
}

.general{
text-align:right;
margin-top:10px;
font-weight:bold;
font-size:18px;
}